<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.joy.security.admin.mapper.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.github.joy.security.admin.entity.Menu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="href" property="href" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="order_num" property="orderNum" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="enabled" property="enabled" jdbcType="CHAR" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="crt_user" property="crtUser" jdbcType="VARCHAR" />
    <result column="crt_name" property="crtName" jdbcType="VARCHAR" />
    <result column="crt_host" property="crtHost" jdbcType="VARCHAR" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
    <result column="upd_user" property="updUser" jdbcType="VARCHAR" />
    <result column="upd_name" property="updName" jdbcType="VARCHAR" />
    <result column="upd_host" property="updHost" jdbcType="VARCHAR" />
  </resultMap>
</mapper>